body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: #5e5b5bab;
    color: #000000;
}

header nav{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background-color: #333333;
}

header .logoIcon,
header .loginIcon{
    width: 30px;
    transition: 0.2s ease-in-out;
}

header .logoIcon:hover,
header .loginIcon:hover{
    transform: scale(1.05);
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

main .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 500px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    z-index: 2;
}

main .button{
    margin-top: 20%;
    width: 250px;
    height: 100px;
    background-color: #FFFFFF;
    cursor: pointer;
}

main div .button{
    margin-bottom: 20px;
}

main .button span{
    margin-top: 0;
}
